
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}



/* GENERAL */
body {
    background-color: #ffffff;
}

/*NAV MENU RESPONSIVE*/
/* NAVBAR STYLING STARTS */

.navbar {
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  padding: 20px;
  background-color: white;
  color: #fff;
  }
  
  .nav-links a {
  color: black;
  }
  
  /* LOGO */
  .logo {
  font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
  display: grid;
  flex: content;
  grid-template-columns: repeat(7, 1fr);  
  gap: 1em;
  font-size: 18px;
  text-align: center;
  }
  
  .menu li:hover {
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
  }
  
  .menu li {
  padding: 5px 14px;
  }

  /* Buscador */
  .buscador{
    box-sizing: border-box;
    width: 219px;
    height: 35.32px;
    left: 0px;
    top: 0px;

    /* Base Colors/White */

    background: #FFFFFF;
    /* Background Colors/Primary/Dark Blue */

    border: 1px solid #143248;
    border-radius: 62px;
    }

  /*BOTON REGISTRO*/  
    .nav-button {     
      /* Auto layout */
  
      justify-content: center;
      align-items: center;
      padding: 16px;
      width: 70px;
      height: 10px;;
     
      
      /* Contrast Colors/Orange Dark */
  
      background: #DF8923;
      border-radius: 15px;
  
      /* Button */
  

  
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
   
  
    
        
      }
  
  

  /*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{
  display: none;
  }
  
  /*HAMBURGER MENU*/
  
  .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
  .navbar{
  background-color: #143248;
  }

  .menu {
  display:none;
  position: absolute;
  background-color:#82b5dc;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
  }
  
  .menu li:hover {
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
  }
  
  .menu li + li {
  margin-top: 12px;
  }
  
  input[type=checkbox]:checked ~ .menu{
  display: block;
  }
  
  .hamburger {
  display: block;
  }
}
  
  

/* FOOTER */
footer{
  background: #143248;
  padding: 5%;
  height: 155px;
}


  .section-2columns .footer-colum #text{
    padding-bottom: 5%;
    color: white;
  }
  .section-2columns .footer-colum h4{
    color: white;
  }

  .section-2columns .footer-colum img{
    width: 30%;
  }

  .section-2columns .footer-colum .mail{
    padding-top: 3%;
    color: white;
    font-size: 20px;
  
  }
  


  
