/* SECCIONES */
    /*SECCION 1*/
        .section1{
        display: flex;
        flex-direction: row;
        height: 50vh;
        margin-top: 10rem;
        padding: 10rem 10rem 0% 10rem;
        background-size: auto;
        background-position-x:  90%;
        background-position-y:  20%;

        background-image:url(/images/Group001.png);
        background-repeat: no-repeat;
        background-color: #ffffff;
        ;

        }
        .section-text{
        padding-left: 10%;
        }
        .text {
        width: 616px;
        height: 165px;


        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: left;

        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        }
        .picture{
        max-width: 1100px;
        margin: 10rem auto;
        padding: 0 15px;
        }

        @media only screen and (max-width: 1024px) {
        .section1 {
        width: auto;
        height: auto;
        padding: 1rem;
        }
        h1{
        font-style: normal;
        font-size: 18px;
        display:block;
        align-items: center;
        text-align: left;
        }
        .text{
        display: block;
        font-style: normal;
        font-size: 18px;
        text-align: left;
        }
        }
    /*SECCION 2*/
        .section2{
            display: flex;
            gap:15%;
            height: 50vh;
            margin-top: 10rem;
            padding: 10rem 10rem 0% 10rem;
            background-color: #265D86
            
         

            }
        .section2-1st-column{
            /* Auto layout */

            align-items: center;
            padding: 0px 0px 71px;
            gap: 16px;

            width: 259px;
            height: 463px;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
        }
        .section-elipse1{
        display: flex;
        width: 226px;
        height: 226px;
        left: 172px;
        top: 971px;
        border-radius: 50%;
        background-size: 70%;
        background-position-x:  center;
        background-position-y:  center;

        background-image:url(/images/undraw_home_cinema_l7yl\ 1.png);
        background-repeat: no-repeat;
        background-color: white;

        
        }
        .section-elipse2{
            display: flex;
            width: 226px;
            height: 226px;
            left: 172px;
            top: 971px;
            border-radius: 50%;
            background-size: 70%;
            background-position-x:  center;
            background-position-y:  center;
    
            background-image:url(/images/undraw_home_cinema_l7yl\ 1.png);
            background-repeat: no-repeat;
            background-color: white;
    
            
            }
            .section-elipse3{
                display: flex;
                width: 226px;
                height: 226px;
                left: 172px;
                top: 971px;
                border-radius: 50%;
                background-size: 70%;
                background-position-x:  center;
                background-position-y:  center;
        
                background-image:url(/images/undraw_home_cinema_l7yl\ 1.png);
                background-repeat: no-repeat;
                background-color: white;
        
                
                }
        .section2-title{ 
            width: 195px;
            height: 78px;
            
            font-family: 'Phetsarath';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 29px;
            display: flex;
            align-items: center;
            text-align: center;
            
            color: #FFFFFF;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;
        
        }
        .section2-text{
                        
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            display: flex;
            align-items: center;
            text-align: center;
            
            color: #FFFFFF;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 2;
            flex-grow: 0;

        }
        


